<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<body>
    <!-- simple navbar -->
    <nav class = 'bg-black p-4 text-white flex justify-between'>
        <div clsss="Talk With AI">
            <a href="" class='text-4xl font-bold'>Talk With AI</a>
        </div>
        <div>
            <a class="text-white hover:underline" href="#">
                Đăng xuất
            </a>
        </div>
    </nav>
    <!-- content -->

    <div class="flex-grow container mx-auto mt-10 px-4 sm:px-0">
        <a href = "#" class="flex flex-col w-auto font-semibold px-20 pt-2 h-20 bg-gray-100 rounded border-2 border-black text-semibold transition-transform transform hover:scale-105">
            <h1>Trò chuyện 1:</h1>
            <p>Câu thoại cuối của bot</p>
        </a>
    </div>
</body>
</html>